.cooperation {
    padding: 40px 0;
    background: #181A1E;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        width: 90%;
        margin: auto;
    }

    &__content {
        width: 55%;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        margin: 20px 0;
        line-height: 24px; 
    }

    &__btn {
        display: inline-block;
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        border-radius: 20px;
        background: #5B43E9;
        padding: 10px 17px;
        margin-top: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #ffffff;
            color: #000000;
        }
    }

    &__block {
        width: 25%;
        &_img{
            width: 100%;
            border-radius: 12px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .cooperation {
        &__wrapper {
            gap: 20px;
        }

        &__block {
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    .cooperation {
        padding: 30px 0;
        &__content {
            width: 100%;
        }

        &__block {
            display: none;
        }
    }
}

@media screen and (max-width: 425px) {
    .cooperation {
        &__content {
            text-align: center;
        }

        &__title {
            font-size: 14px;
        }

        &__text {
            color: #C9C9C9;
            font-size: 14px;
            line-height: normal;
        }

        &__btn {
            font-size: 12px;
        }
    }
}