.mission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 0 50px 0;

    &__content {
        width: 50%;
        &_title {
            font-size: 70px;
            font-weight: 600;
            line-height: normal;
        }

        &_co {
            color: #5A43E8;
        }

        &_text {
            color: #C9C9C9;
            font-size: 17px;
            font-weight: 400;
            line-height: 25.5px;
            margin-top: 60px;
        }
    }

    &__block {
        width: 40%;
        &_img {
            width: 100%;
            height: 100%;
        }
    }
}

.strive {
    padding: 50px 0 35px 0;
}

.end {
    padding: 35px 0 10px 0;
}

.aboutUs {
    &__title {
        font-size: 27px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    &__text {
        color: #C9C9C9;
        font-size: 20px;
        font-weight: 500;
        line-height: 25.5px;
        padding: 30px 0;
    }
}

@media screen and (max-width: 1024px) {
    .mission__content_text {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .mission {
        padding: 40px 0 20px 0;
        flex-direction: column;
        gap: 30px;

        &__content {
            text-align: center;
            width: 100%;

            &_title {
                font-size: 50px;
            }
        }

        &__block {
            width: 100%;
            height: 50vh;
        }
    }
    .strive {
        padding: 20px 0;
    }
    
    .end {
        padding: 10px 0;
    }
}

@media screen and (max-width: 425px) {
    .mission {
        &__content {
            &_title {
                font-size: 30px;
            }

            &_text {
                font-size: 13px;
                line-height: normal;
            }
        }

        &__block {
            height: 100%;
        }
    }

    .aboutUs {
        &__title {
            font-size: 14px;
            line-height: normal;
        }

        &__text {
            font-size: 12px;
            line-height: normal;
            font-weight: 400;
            padding: 15px 0;
        }
    }
}