.speakers_card {
    width: 23%;
    position: relative;
    background: #181A1E;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &__img {
        width: 100%;

        img {
            width: 100%;
            height: 480px;
            object-fit: cover;
        }
    }

    &__content {
        width: 100%;
        background: #181A1E;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    &__job {
        color: rgba(255, 255, 255, 0.70);
        font-size: 12px;
        font-weight: 700;
    }
}

@media screen and (max-width: 1024px) {
    .speakers_card {
        width: 33%;
    }
}

@media screen and (max-width: 768px) {
    .speakers_card {
        width: 47%;
    }
}

@media screen and (max-width: 425px) {
    .speakers_card {
        width: 90%;

        &__content {
            padding: 12px;
        }

        &__img {
            img {
                height: 300px;
            }
        }

        &__name {
            font-size: 12px;
        }

        &__job {
            font-size: 10px;
        }
    }
}