.portfolio_card {
    &__name {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 25px;
        font-weight: 600;
        line-height: 60px;
        margin-bottom: 10px;
    }

    &__logo {
        background-color: #ffffff;
        width: 72px;
        height: 30px;
        padding: 3px 7px;
    }

    &__slider {
        display: flex;
        align-items:center;
        justify-content: center;
        height: 145px;
        border-radius: 20px;
        background: #181A1E;
        cursor: pointer;
    }

    &__image {
        width: 25%;
    }
}