.partners {
    padding: 50px 0;

    &__title {
        font-size: 30px;
        font-weight: 600;
        line-height: 60px;
    }

    &__text {
        color: #C9C9C9;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.5px;
        margin: 10px 0 30px 0;
        width: 70%;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .partners {
        padding: 30px 0;

        &__text {
            width: 100%;
        }
        
        &__wrapper {
            flex-direction: column;
            gap: 60px;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 425px) {
    .partners {
        &__title {
            font-size: 20px;
            line-height: normal;
        }
        &__text {
            font-size: 13px;
            line-height: normal;
        }
    }
}