.more_card {
  border-radius: 22px;
  background: #181a1e;
  padding: 30px;
  display: flex;
  align-items: start;
  justify-content: space-between;

  &__content {
    width: 60%;

    &_format {
      color: #9789e9;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-transform: uppercase;
    }

    &_title {
      font-size: 27px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin: 20px 0;
    }

    &_text {
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }

    &_date {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin: 20px 0 40px 0;

      &_text {
        margin: 5px 0;
      }
    }

    &_btn {
      font-size: 15px;
      font-weight: 600;
      line-height: 15px;
      border-radius: 20px;
      color: #fff;
      background: #5b43e9;
      padding: 12px 32px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #000000;
        background: #ffffff;
      }
    }
  }

  &__block {
    width: 35%;

    &_img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 768px) {
  .more_card {
    padding: 15px 15px 25px 15px;

    &__content {
      width: 100%;
    }

    &__block {
      display: none;
    }
  }
}
@media screen and (max-width: 425px) {
  .more_card {
    &__content {
      &_format {
        font-size: 12px;
      }

      &_title {
        font-size: 14px;
        line-height: normal;
      }

      &_text {
        font-size: 12px;
        line-height: normal;
      }

      &_date {
        font-size: 12px;
        margin-bottom: 30px;
      }

      &_btn {
        font-size: 12px;
        display: block;
        text-align: center;
      }
    }
  }
}
