.header {
    position: relative;
    padding: 50px 0;
    // padding-bottom: 130px;

    &__wrapper  {
        // position: fixed;
        // padding: 50px 0 30px 0;
        // background: #00050F;
        // width: 90%;
        // z-index: 11;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        color: #ffffff;
        font-size: 22px;
        font-weight: 800;
        line-height: 22px;
        text-transform: uppercase;

        &_co {
            color: #5A43E8;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 28px;

        &_link {
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            
            &:hover {            
                color: #5A43E8
            }
        }

        &_active {
            color: #5A43E8;
        }
    }
    &__btn {
        color: #ffffff;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
        border-radius: 20px;
        background: #5B43E9;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background: #ffffff;
            color: #000000;
        }
    }
    &__burger {
        display: none;
        background-color: #5B43E9;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

        &_img {
            width: 25px;
            height: 20px;
        }
    }

    &__menu {
        display: none;
        position: absolute;
        z-index: 10;
        background: rgb(0, 0, 0);
        width: 100%;

        &_list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 15px;
            padding: 20px 0;
        }

        &_item {
            width: 100%;
        }

        &_link {
            display: block;
            width: 100%;
            color: #ffffff;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            
            &:hover {            
                color: #5A43E8;
            }
        }

        &_active {
            color: #5A43E8;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &__list {
            display: none;
        }
        &__btn {
            display: none;
        }
        &__menu {
            display: block;
        }
        &__burger {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 25px 0;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 25px 0;
        &__logo {
            font-size: 16px;
        }
        &__burger {
            &_img {
                width: 20px;
                height: 15px;
            }
        }
    }
}