.creative {
  padding: 50px 0;
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    width: 30%;
    border-radius: 15px;
    background: #181a1e;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #5b43e9;
    }

    &_img {
      width: 35px;
      height: 35px;
    }
  }
  &__active {
    background: #5b43e9;
  }
  &__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 2px solid #353535;
    padding: 50px 100px 30px;
  }
  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
  }
  &__text {
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
  }

  &__content {
    border-radius: 22px;
    background: #181a1e;
    padding: 25px;
    margin: 30px 0 40px 0;

    &_title {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &_block {
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 20px;
    }

    &_info {
      display: flex;
      align-items: start;
      gap: 30px;
      border-radius: 15px;
      background: #5b43e9;
      backdrop-filter: blur(4px);
      padding: 20px;
      width: 45%;

      &_title {
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        line-height: 25.5px;
        margin-bottom: 12px;
      }

      &_text {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      &_img {
        width: 20px;
        height: 20px;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .creative {
    &__btn {
      &_img {
        width: 28px;
        height: 28px;
      }
    }

    &__content {
      &_info {
        width: 100%;
      }
    }

    &__quantity {
      padding: 30px 50px;
    }

    &__title {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .creative {
    padding: 30px 0;
    &__btn {
      gap: 8px;
      font-size: 14px;

      &_img {
        width: 20px;
        height: 20px;
      }
    }

    &__content {
      &_info {
        width: 100%;
      }
    }

    &__quantity {
      padding: 20px 0;
      flex-wrap: wrap;
      row-gap: 20px;

      &_block {
        width: 50%;
      }
    }

    &__title {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 425px) {
  .creative {
    &__btn {
      padding: 8px 0;
      font-size: 10px;
      gap: 0;

      &_img {
        width: 16px;
        height: 16px;
      }
    }

    &__content {
      margin: 20px 0;
      padding: 20px;

      &_title {
        font-size: 12px;
      }
      &_info {
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 10px;

        &_title {
          font-size: 14px;
          line-height: normal;
          margin: 10px 0;
        }
        &_text {
          font-size: 12px;
          line-height: normal;
        }
      }
    }

    &__quantity {
      padding: 20px 0;
      flex-wrap: wrap;
      row-gap: 20px;

      &_block {
        width: 50%;
      }
    }

    &__text {
      font-size: 14px;
    }
  }
}
