.events_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 22px;
  background: #181a1e;
  height: 280px;

  &__content {
    width: 50%;
  }

  &__format {
    color: #9789e9;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 20px 0;
  }

  &__info {
    list-style: disc;
    margin-left: 15px;
    margin-bottom: 20px;

    &_item {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__date {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__day {
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
    padding-top: 4px;
  }

  &__time {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
  }

  &__more {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    border-radius: 20px;
    background: #5b43e9;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: #ffffff;
      color: #000000;
    }
  }

  &__block {
    width: 35%;
    &_img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .events_card {
    height: 257px;
    padding: 18px;

    &__content {
      width: 100%;
    }
    &__block {
      display: none;
    }
  }
}

@media screen and (max-width: 425px) {
  .events_card {
    height: 230px;

    &__format {
      font-size: 12px;
    }

    &__title {
      font-size: 14px;
      padding: 10px 0;
    }

    &__info {
      &_item {
        font-size: 12px;
      }
    }

    &__more {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
